@use "../styles/main" as *;

main,
.body_info,
.main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main_div {
  margin-bottom: 150px;
}

.illustration_working_logo {
  max-width: 80%;
  height: auto;
}

.body_tittle {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: $very-dark-violet;
  line-height: 70px;
}

.body_prgh {
  text-align: center;
  color: $grayish-violet;
}

.get_button {
  height: 50px;
  width: 200px;

  background: $cyan;
  color: white;
  font-size: 18px;
  font-weight: 700;

  border-radius: 35px;

  border: none;
  transition: 0.5s;

  &:hover {
    cursor: pointer;

    color: $dark-Violet;
  }
}

.add_space {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    width: 80%;
  }

  .add_space {
    display: block;
  }

  .main_div {
    width: 100%;
    flex-direction: row-reverse;
    gap: 0;
  }

  .illustration_working_logo {
    max-width: 50%;
    height: auto;
  }

  .body_info {
    width: 50%;
    height: auto;

    align-items: flex-start;
  }

  .body_tittle {
    font-size: 4rem;
  }

  .body_tittle,
  .body_prgh {
    text-align: left;
  }
}
