@use "../styles/main" as *;

.short_link_box {
  width: 350px;
  height: 180px;
  position: absolute;

  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  margin-bottom: 50px;

  background-image: url("../assets/bg-shorten-mobile.svg");
  background-color: $dark-Violet;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

form {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input_field,
.input_button {
  height: 50px;
  width: 250px;
  border-radius: 5px;
}

.input_field {
  font-size: 18px;
  font-weight: 500;
  padding-left: 15px;
  border: none;
}

input::placeholder {
  color: gray;
  opacity: 0.7;
}

.input_button {
  background: $cyan;
  color: white;
  font-size: 18px;
  font-weight: 700;

  border: none;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .short_link_box {
    width: 80%;
    height: 130px;
    background-image: url("../assets/bg-shorten-desktop.svg");
  }

  form {
    flex-direction: row;
  }

  .input_field {
    width: 65%;
  }

  .input_button {
    width: 20%;
  }
}
