@use "../styles/main" as *;

footer {
  background: $very-dark-violet;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;

  width: 100%;
}

.footer_logo {
  margin-top: 35px;
}

.footer_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .block_heading {
    color: white;
    margin-bottom: 15px;
  }

  .block_content {
    color: $grayish-violet;
    transition: 0.5s;
  }
}

.block_content:hover {
  color: $cyan;
  cursor: pointer;
}

.footer_socials {
  display: flex;
  gap: 25px;

  margin-bottom: 40px;

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
  }

  .footer_block {
    align-items: baseline;
  }

  .footer_logo,
  .footer_block,
  .footer_socials {
    margin-top: 85px;
  }
}
