@use "../styles/main" as *;

.header {
  height: 100px;
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 15px;
}

.app_logo {
  height: 50px;
  width: auto;
}

.hamburguer {
  height: 40px;
  width: 40px;

  &:hover {
    cursor: pointer;
  }
}
